In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sweetviz as sv

In [2]:
df_order = pd.read_csv('./csv/dtt_order.csv')
print(f'Total rows : {len(df_order)}')
df_order.sample(3)

Total rows : 27328

/var/folders/5g/90_bh_2146gffg2__wzbyb780000gn/T/ipykernel_97024/1724728326.py:1: DtypeWarning: Columns (2,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df_order = pd.read_csv('./csv/dtt_order.csv')

,order_id,order_number,payment_charge_id,payment_success_id,order_product_id,order_package_id,order_product_name,order_package_name,order_quantity_adult,order_quantity_children,...,pv_infant_value_base,pv_infant_amount_base,pv_infant_value_additional,pv_infant_amount_additional,pv_infant_value_optional,pv_infant_amount_optional,pv_infant_value_optional2,pv_infant_amount_optional2,pv_infant_value_optional3,pv_infant_amount_optional3
22799,23288,211023288,NaN,0,181,488,Aquaria Phuket,Aquaria Only Admission ticket [Special Promoti...,2,0,...,0,0,0,0,0,0,0,0,0,0
18400,18889,200118889,NaN,0,102,161,Kanchanaburi and River Kwai Full day Tour,Full Day Trip,2,0,...,0,0,0,0,0,0,0,0,0,0
805,1293,180801293,NaN,0,51,211,Dolphin Bay Phuket,11:00 VIP Seat,2,3,...,0,0,0,0,0,0,0,0,0,0

In [3]:
## make EDA report (HTML) 
# report = sv.analyze(pd.read_csv('./csv/dtt_product.csv'))
# report.show_html('./report/products_report.html')

In [4]:
df_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27328 entries, 0 to 27327
Columns: 127 entries, order_id to pv_infant_amount_optional3
dtypes: float64(20), int64(78), object(29)
memory usage: 26.5+ MB

In [5]:
clean_cols_v1 = [
    'order_id',
    'order_number', # yy/mm/numbers
    'payment_charge_id','payment_success_id', #?
    'order_product_id', # product_id?
    'order_package_id', # ref? vs product_id?
    'order_product_name', 'order_package_name', # clean and tag?
    'order_quantity_adult','order_quantity_children','order_quantity_elder','order_quantity_infant', # number of persons?
    # price per person?
    'order_price_adult','order_price_children','order_price_elder','order_price_infant','order_price_discount_adult',
    'order_price_discount_children','order_price_discount_elder','order_price_discount_infant',

    # how to calculate discount?
    'order_discount_id','order_discount_rate','order_discount_type','order_discount_coupon_code','order_discount_coupon_rate',
    'order_discount_coupon_type','order_coupon_discount_price',

    # why price is not the same?
    'order_price_total','order_gross_price','order_price_paid',
 
    'order_price_paidleft', # what's ?
    'order_state', # 5 types status mean?
    'order_payment_method_id','order_payment_type', # same?
    'order_payment_charge_rate', # use?
    'order_payment_by', # all real?

    # use for fill users
    'customer_id','customer_firstname','customer_lastname','customer_email',
    'customer_phone_iso','customer_phone_code','customer_phone','customer_gender',

    'customer_discount_rate','customer_discount_type', # meanning?
    'customer_country','customer_nationality', # use for fill users
    'order_departure_date','order_date', # ref
    
    # surcharge?
    'order_custom_surcharge','order_surcharge','order_surcharge_id','order_surcharge_hotel_id','order_surcharge_zone_name',
    'order_surcharge_hotel_name','order_surcharge_hotel_room','order_surcharge_pickup_time','order_surcharge_price',

    'special_request','special_request_other', # Vegetarian/Halal food
    
    'date_create','date_update','creator','updater', # ref
    'browser','platform',

    'is_reminder',# ?
    'price_type', # ?
    'is_meeting_point', # ?
    'order_custom_hotel_desc']

In [8]:
df_order = df_order[clean_cols_v1]
df_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27328 entries, 0 to 27327
Data columns (total 71 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       27328 non-null  int64
 1   order_number                   27328 non-null  int64
 2   payment_charge_id              474 non-null    object
 3   payment_success_id             27328 non-null  int64
 4   order_product_id               27328 non-null  int64
 5   order_package_id               27328 non-null  int64
 6   order_product_name             27328 non-null  object
 7   order_package_name             27328 non-null  object
 8   order_quantity_adult           27328 non-null  int64
 9   order_quantity_children        27328 non-null  int64
 10  order_quantity_elder           27328 non-null  int64
 11  order_quantity_infant          27328 non-null  int64
 12  order_price_adult              27253 non-null  float64
 13  order_price_children           27253 non-null  float64
 14  order_price_elder              27328 non-null  int64
 15  order_price_infant             27253 non-null  float64
 16  order_price_discount_adult     27328 non-null  int64
 17  order_price_discount_children  27328 non-null  int64
 18  order_price_discount_elder     27328 non-null  int64
 19  order_price_discount_infant    27328 non-null  int64
 20  order_discount_id              27328 non-null  int64
 21  order_discount_rate            17288 non-null  float64
 22  order_discount_type            17288 non-null  float64
 23  order_discount_coupon_code     148 non-null    object
 24  order_discount_coupon_rate     1168 non-null   float64
 25  order_discount_coupon_type     1168 non-null   float64
 26  order_coupon_discount_price    27328 non-null  float64
 27  order_price_total              27328 non-null  int64
 28  order_gross_price              27328 non-null  float64
 29  order_price_paid               27328 non-null  float64
 30  order_price_paidleft           27328 non-null  int64
 31  order_state                    27328 non-null  object
 32  order_payment_method_id        27328 non-null  int64
 33  order_payment_type             27328 non-null  int64
 34  order_payment_charge_rate      27328 non-null  int64
 35  order_payment_by               866 non-null    object
 36  customer_id                    9997 non-null   float64
 37  customer_firstname             9997 non-null   object
 38  customer_lastname              9997 non-null   object
 39  customer_email                 9997 non-null   object
 40  customer_phone_iso             9403 non-null   object
 41  customer_phone_code            9409 non-null   float64
 42  customer_phone                 9877 non-null   float64
 43  customer_gender                9997 non-null   object
 44  customer_discount_rate         8711 non-null   float64
 45  customer_discount_type         8711 non-null   float64
 46  customer_country               9460 non-null   object
 47  customer_nationality           9460 non-null   object
 48  order_departure_date           27328 non-null  object
 49  order_date                     5915 non-null   object
 50  order_custom_surcharge         27328 non-null  int64
 51  order_surcharge                9997 non-null   float64
 52  order_surcharge_id             3127 non-null   float64
 53  order_surcharge_hotel_id       3127 non-null   float64
 54  order_surcharge_zone_name      3650 non-null   object
 55  order_surcharge_hotel_name     3621 non-null   object
 56  order_surcharge_hotel_room     2713 non-null   object
 57  order_surcharge_pickup_time    3127 non-null   object
 58  order_surcharge_price          9997 non-null   float64
 59  special_request                3138 non-null   object
 60  special_request_other          924 non-null    object
 61  date_create                    27328 non-null  object
 62  date_update                    27328 non-null  object
 63  creator                        27328 non-null  int64
 64  updater                        27328 non-null  int64
 65  browser                        27310 non-null  object
 66  platform                       27310 non-null  object
 67  is_reminder                    27328 non-null  int64
 68  price_type                     27328 non-null  int64
 69  is_meeting_point               27328 non-null  int64
 70  order_custom_hotel_desc        466 non-null    object
dtypes: float64(19), int64(26), object(26)
memory usage: 14.8+ MB

In [39]:
drop_v1 = df_order[df_order['customer_email'].map(lambda x: 'test' in str(x) or '@mail.com' in str(x))][['order_product_name', 'order_package_name','customer_email']].index

In [42]:
df_v1 = df_order.drop(index = drop_v1)

In [43]:
df_v1

,order_id,order_number,payment_charge_id,payment_success_id,order_product_id,order_package_id,order_product_name,order_package_name,order_quantity_adult,order_quantity_children,...,date_create,date_update,creator,updater,browser,platform,is_reminder,price_type,is_meeting_point,order_custom_hotel_desc
0,1,180300001,NaN,1,29,11,Phi Phi - Maya Bay and Bamboo Island by speedboat,One Day Trip,1,0,...,2018-03-12 14:26:18,2018-03-12 14:27:00,10,10,Chrome,Macintosh,0,0,0,NaN
1,5,180300005,NaN,2,34,23,Phuket Fantasea,Show + Suriyamas Gold Upgrade,1,0,...,2018-03-12 20:36:29,2018-03-12 20:38:00,23,23,Safari,iPhone,0,0,0,NaN
2,23,180300023,NaN,0,75,85,Sukko Spa,Spa Package 120 Minutes (10:00),2,0,...,2018-03-13 23:53:08,2018-03-14 00:03:00,0,7,Safari,iPad,0,0,0,NaN
4,43,180300043,NaN,6,34,16,Phuket Fantasea,Show only,1,0,...,2018-03-14 18:02:28,2018-03-14 20:00:00,7,23,Safari,iPhone,0,0,0,NaN
5,44,180300044,NaN,4,28,10,tripdemo,package 1,1,2,...,2018-03-14 18:37:06,2018-08-03 18:27:00,0,10,Chrome,Macintosh,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27323,27812,230127812,chrg_5uhw87a4mif3l4o92i8,0,123,219,Ripley&#39;s Believe it or Not!,Combo 7 Package,1,0,...,2023-01-17 13:10:16,2023-01-17 13:13:09,2826,2826,Safari,iPhone,0,0,1,NaN
27324,27813,230127813,NaN,0,195,544,Andamanda Phuket Water Park,Day Pass Ticket,2,0,...,2023-01-17 13:49:53,2023-01-17 13:49:53,0,0,Safari,iPhone,0,0,0,NaN
27325,27814,230127814,NaN,0,34,490,Phuket Fantasea,Show Only,1,0,...,2023-01-17 14:20:12,2023-01-17 14:20:12,0,0,Chrome,Windows,0,0,0,NaN
27326,27815,230127815,chrg_5uhxojopu8su85yp0h8,7903,47,80,Half Day Khai Island by speedboat,Morning Tour,4,0,...,2023-01-17 15:29:59,2023-01-17 15:45:03,0,0,Safari,iPhone,0,0,0,"15 Wyndham Grand Nai Harn Beach Phuket, 328 So..."
27327,27816,230127816,NaN,0,123,219,Ripley&#39;s Believe it or Not!,Combo 7 Package,1,0,...,2023-01-17 17:01:45,2023-01-17 17:01:45,0,0,Chrome,Android,0,0,0,NaN

In [73]:
df_v1['order_state'].value_counts()

prebooking_success    17330
payment_success        5838
detail_success         4052
cancelled                50
payment_pending           7
Name: order_state, dtype: int64

In [45]:
a = df_v1['order_product_id'].value_counts()

In [55]:
df_v1[df_v1['order_product_id']==20]

Empty DataFrame
Columns: [order_id, order_number, payment_charge_id, payment_success_id, order_product_id, order_package_id, order_product_name, order_package_name, order_quantity_adult, order_quantity_children, order_quantity_elder, order_quantity_infant, order_price_adult, order_price_children, order_price_elder, order_price_infant, order_price_discount_adult, order_price_discount_children, order_price_discount_elder, order_price_discount_infant, order_discount_id, order_discount_rate, order_discount_type, order_discount_coupon_code, order_discount_coupon_rate, order_discount_coupon_type, order_coupon_discount_price, order_price_total, order_gross_price, order_price_paid, order_price_paidleft, order_state, order_payment_method_id, order_payment_type, order_payment_charge_rate, order_payment_by, customer_id, customer_firstname, customer_lastname, customer_email, customer_phone_iso, customer_phone_code, customer_phone, customer_gender, customer_discount_rate, customer_discount_type, customer_country, customer_nationality, order_departure_date, order_date, order_custom_surcharge, order_surcharge, order_surcharge_id, order_surcharge_hotel_id, order_surcharge_zone_name, order_surcharge_hotel_name, order_surcharge_hotel_room, order_surcharge_pickup_time, order_surcharge_price, special_request, special_request_other, date_create, date_update, creator, updater, browser, platform, is_reminder, price_type, is_meeting_point, order_custom_hotel_desc]
Index: []

[0 rows x 71 columns]

In [62]:
for i in a.keys():
    print(str(i) + '\t' + str(a[i]))

90	2958
181	2764
55	1930
34	1380
51	1096
50	963
151	896
118	797
146	684
163	662
121	627
132	627
173	576
46	565
38	549
123	505
122	455
119	428
47	401
129	382
73	357
148	350
82	339
170	334
182	330
138	318
195	285
202	265
172	264
52	247
49	244
180	236
120	222
83	214
150	205
102	178
29	162
177	162
127	152
43	139
60	137
133	129
164	128
124	126
141	117
147	107
200	105
35	101
198	99
130	84
152	82
171	82
56	80
76	74
149	68
185	64
156	62
81	60
145	59
157	59
117	55
184	49
158	48
142	47
162	47
84	45
58	42
178	42
131	39
105	39
137	39
97	34
91	32
33	30
125	27
79	26
65	25
115	24
103	24
92	24
57	21
39	21
189	21
128	20
160	16
139	15
188	15
134	13
159	13
187	13
179	12
69	12
42	12
75	12
41	11
193	11
167	11
54	10
136	9
166	9
87	8
197	8
199	8
169	8
155	7
175	7
100	7
68	7
143	7
80	7
161	7
94	6
104	6
53	6
176	6
44	5
116	5
78	4
45	4
88	4
107	4
111	3
192	3
183	3
196	3
204	3
48	3
109	3
71	3
135	3
144	3
93	3
174	3
59	3
99	3
40	2
95	2
77	2
126	2
140	2
110	1
70	1
191	1
28	1
64	1
89	1
98	1
207	1

In [72]:
a[a.values > 99].to_csv('./test.csv')

In [67]:
i

207