In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sweetviz as sv
import numpy as np

In [2]:
df_order = pd.read_csv('./csv/dtt_order.csv')
print(f'Total rows : {len(df_order)}')
df_order.sample(3)

Total rows : 27328

/var/folders/5g/90_bh_2146gffg2__wzbyb780000gn/T/ipykernel_57187/1724728326.py:1: DtypeWarning: Columns (2,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df_order = pd.read_csv('./csv/dtt_order.csv')

,order_id,order_number,payment_charge_id,payment_success_id,order_product_id,order_package_id,order_product_name,order_package_name,order_quantity_adult,order_quantity_children,...,pv_infant_value_base,pv_infant_amount_base,pv_infant_value_additional,pv_infant_amount_additional,pv_infant_value_optional,pv_infant_amount_optional,pv_infant_value_optional2,pv_infant_amount_optional2,pv_infant_value_optional3,pv_infant_amount_optional3
16937,17426,191217426,NaN,0,141,297,Phi Phi Island Maya Bay - Khai Island,One Day Trip,2,0,...,0,0,0,0,0,0,0,0,0,0
17653,18142,191218142,NaN,4783,163,410,Phuket City tour with Tiger Kingdom,Late Morning (11:00),2,1,...,0,0,0,0,0,0,0,0,0,0
21342,21831,201221831,NaN,6014,181,469,Aquaria Phuket - Aquarium,Aquaria Only Admission ticket [Special Promoti...,3,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
## make EDA report (HTML) 
# report = sv.analyze(pd.read_csv('./csv/dtt_product.csv'))
# report.show_html('./report/products_report.html')

In [3]:
df_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27328 entries, 0 to 27327
Columns: 127 entries, order_id to pv_infant_amount_optional3
dtypes: float64(20), int64(78), object(29)
memory usage: 26.5+ MB

In [27]:
clean_cols_v1 = [
    'order_id',
    'order_number', # yy/mm/numbers
    # 'payment_charge_id','payment_success_id', #?
    'order_product_id', # product_id?
    'order_package_id', # ref? vs product_id?
    'order_product_name', 'order_package_name', # clean and tag or make vector?
    'order_quantity_adult','order_quantity_children','order_quantity_elder','order_quantity_infant', # distributed / create group ex.private, family, group, kids, older
    # price per person?
    'order_price_adult','order_price_children','order_price_elder','order_price_infant', # price zone for category
    'order_price_discount_adult','order_price_discount_children','order_price_discount_elder','order_price_discount_infant', # 0,1 category

    # # how to calculate discount?
    # 'order_discount_id','order_discount_rate','order_discount_type','order_discount_coupon_code','order_discount_coupon_rate',
    # 'order_discount_coupon_type','order_coupon_discount_price',

    # why price is not the same?
    # 'order_price_total','order_gross_price',
    'order_price_paid',
 
    # 'order_price_paidleft', # what's ?
    'order_state', # 5 types status mean?
    'order_payment_method_id',#'order_payment_type', # same?
    # 'order_payment_charge_rate', # use?
    'order_payment_by', # all real?

    # use for fill users
    'customer_id','customer_firstname','customer_lastname','customer_email',
    'customer_phone_iso','customer_phone_code','customer_phone','customer_gender',

    # 'customer_discount_rate','customer_discount_type', # meanning?
    'customer_country','customer_nationality', # use for fill users
    'order_departure_date','order_date', # ref
    
    # surcharge?
    # 'order_custom_surcharge','order_surcharge','order_surcharge_id','order_surcharge_hotel_id','order_surcharge_zone_name',
    # 'order_surcharge_hotel_name','order_surcharge_hotel_room','order_surcharge_pickup_time','order_surcharge_price',

    'special_request','special_request_other', # Vegetarian/Halal food
    
    'date_create','date_update','creator','updater', # ref
    'browser','platform',

    # 'is_reminder',# ?
    # 'price_type', # ?
    # 'is_meeting_point', # ?
    'order_custom_hotel_desc'
    ]

In [28]:
df_order = df_order[clean_cols_v1]
df_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27328 entries, 0 to 27327
Data columns (total 45 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       27328 non-null  int64
 1   order_number                   27328 non-null  int64
 2   order_product_id               27328 non-null  int64
 3   order_package_id               27328 non-null  int64
 4   order_product_name             27328 non-null  object
 5   order_package_name             27328 non-null  object
 6   order_quantity_adult           27328 non-null  int64
 7   order_quantity_children        27328 non-null  int64
 8   order_quantity_elder           27328 non-null  int64
 9   order_quantity_infant          27328 non-null  int64
 10  order_price_adult              27253 non-null  float64
 11  order_price_children           27253 non-null  float64
 12  order_price_elder              27328 non-null  int64
 13  order_price_infant             27253 non-null  float64
 14  order_price_discount_adult     27328 non-null  int64
 15  order_price_discount_children  27328 non-null  int64
 16  order_price_discount_elder     27328 non-null  int64
 17  order_price_discount_infant    27328 non-null  int64
 18  order_price_paid               27328 non-null  float64
 19  order_state                    27328 non-null  object
 20  order_payment_method_id        27328 non-null  int64
 21  order_payment_by               866 non-null    object
 22  customer_id                    9997 non-null   float64
 23  customer_firstname             9997 non-null   object
 24  customer_lastname              9997 non-null   object
 25  customer_email                 9997 non-null   object
 26  customer_phone_iso             9403 non-null   object
 27  customer_phone_code            9409 non-null   float64
 28  customer_phone                 9877 non-null   float64
 29  customer_gender                9997 non-null   object
 30  customer_discount_rate         8711 non-null   float64
 31  customer_discount_type         8711 non-null   float64
 32  customer_country               9460 non-null   object
 33  customer_nationality           9460 non-null   object
 34  order_departure_date           27328 non-null  object
 35  order_date                     5915 non-null   object
 36  special_request                3138 non-null   object
 37  special_request_other          924 non-null    object
 38  date_create                    27328 non-null  object
 39  date_update                    27328 non-null  object
 40  creator                        27328 non-null  int64
 41  updater                        27328 non-null  int64
 42  browser                        27310 non-null  object
 43  platform                       27310 non-null  object
 44  order_custom_hotel_desc        466 non-null    object
dtypes: float64(9), int64(16), object(20)
memory usage: 9.4+ MB

In [7]:
drop_v1 = df_order[df_order['customer_email'].map(lambda x: 'test' in str(x) or '@mail.com' in str(x))][['order_product_name', 'order_package_name','customer_email']].index

In [29]:
df_v1 = df_order.drop(index = drop_v1)

In [30]:
df_v1

,order_id,order_number,order_product_id,order_package_id,order_product_name,order_package_name,order_quantity_adult,order_quantity_children,order_quantity_elder,order_quantity_infant,...,order_date,special_request,special_request_other,date_create,date_update,creator,updater,browser,platform,order_custom_hotel_desc
0,1,180300001,29,11,Phi Phi - Maya Bay and Bamboo Island by speedboat,One Day Trip,1,0,0,0,...,2018-03-12,NaN,NaN,2018-03-12 14:26:18,2018-03-12 14:27:00,10,10,Chrome,Macintosh,NaN
1,5,180300005,34,23,Phuket Fantasea,Show + Suriyamas Gold Upgrade,1,0,0,0,...,2018-03-12,Halal food,NaN,2018-03-12 20:36:29,2018-03-12 20:38:00,23,23,Safari,iPhone,NaN
2,23,180300023,75,85,Sukko Spa,Spa Package 120 Minutes (10:00),2,0,0,0,...,NaN,NaN,NaN,2018-03-13 23:53:08,2018-03-14 00:03:00,0,7,Safari,iPad,NaN
4,43,180300043,34,16,Phuket Fantasea,Show only,1,0,0,0,...,2018-03-14,NaN,NaN,2018-03-14 18:02:28,2018-03-14 20:00:00,7,23,Safari,iPhone,NaN
5,44,180300044,28,10,tripdemo,package 1,1,2,0,0,...,2018-03-14,NaN,NaN,2018-03-14 18:37:06,2018-08-03 18:27:00,0,10,Chrome,Macintosh,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27323,27812,230127812,123,219,Ripley&#39;s Believe it or Not!,Combo 7 Package,1,0,0,0,...,NaN,Vegetarian food,No Eggs,2023-01-17 13:10:16,2023-01-17 13:13:09,2826,2826,Safari,iPhone,NaN
27324,27813,230127813,195,544,Andamanda Phuket Water Park,Day Pass Ticket,2,0,0,0,...,NaN,NaN,NaN,2023-01-17 13:49:53,2023-01-17 13:49:53,0,0,Safari,iPhone,NaN
27325,27814,230127814,34,490,Phuket Fantasea,Show Only,1,0,0,0,...,NaN,NaN,NaN,2023-01-17 14:20:12,2023-01-17 14:20:12,0,0,Chrome,Windows,NaN
27326,27815,230127815,47,80,Half Day Khai Island by speedboat,Morning Tour,4,0,0,0,...,2023-01-17,NaN,NaN,2023-01-17 15:29:59,2023-01-17 15:45:03,0,0,Safari,iPhone,"15 Wyndham Grand Nai Harn Beach Phuket, 328 So..."
27327,27816,230127816,123,219,Ripley&#39;s Believe it or Not!,Combo 7 Package,1,0,0,0,...,NaN,NaN,NaN,2023-01-17 17:01:45,2023-01-17 17:01:45,0,0,Chrome,Android,NaN

In [40]:
df_v1[df_v1['special_request_other'].notna()]

,order_id,order_number,order_product_id,order_package_id,order_product_name,order_package_name,order_quantity_adult,order_quantity_children,order_quantity_elder,order_quantity_infant,...,order_date,special_request,special_request_other,date_create,date_update,creator,updater,browser,platform,order_custom_hotel_desc
128,937,180700937,119,204,Ramayana Water Park,All day Tourist Ticket + Unlimited Buffet,2,0,0,0,...,NaN,NaN,"Hello, can I get a locker to keep my belongings?",2018-07-29 12:30:35,2018-07-29 12:34:00,0,0,Chrome,Android,NaN
444,719,180700719,55,52,Splash Jungle Water Park,Splash jungle,5,0,0,0,...,NaN,Vegetarian food,One member of party is vegetarian\r\n,2018-07-18 17:54:40,2018-07-18 18:00:00,0,0,Safari,iPad,NaN
487,774,180700774,90,134,Phuket Simon Cabaret,Show Time 21:00 V.I.P. Seat,2,0,0,0,...,NaN,Others,We don&#39;t need transportation or food,2018-07-20 08:06:05,2018-07-20 08:15:00,0,101,Chrome,Android,NaN
489,776,180700776,90,134,Phuket Simon Cabaret,Show Time 21:00 V.I.P. Seat,2,0,0,0,...,NaN,Others,We don&#39;t need transportation or food,2018-07-20 08:18:40,2018-07-20 08:21:00,101,101,Chrome,Android,NaN
617,1105,180801105,52,47,James Bond Island with sea canoe,James Bond Island with Sea canoe by Longtail Boat,2,0,0,0,...,2018-08-07,Others,1 vegetarian\r\n1 chicken dish please,2018-08-07 15:37:51,2018-08-07 16:51:15,0,0,Safari,iPhone,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27166,27655,230127655,34,19,Phuket Fantasea,Show + Buffet dinner + Roundtrip transfer [Pro...,1,0,0,0,...,NaN,Others,SHOW + BUFFET DINNER + ROUNDTRIP TRANSFER [PRO...,2023-01-08 13:33:43,2023-01-08 13:40:29,0,0,Chrome,Windows,NaN
27187,27676,230127676,181,405,Aquaria Phuket,Aquarium Only Ticket [Tourist Pass],2,1,0,0,...,2023-01-10,Others,No request,2023-01-09 21:21:00,2023-01-10 09:43:04,0,0,Safari,iPhone,NaN
27227,27716,230127716,121,215,Elephant Jungle Sanctuary Phuket,Half Day Program Morning 6:30,7,0,0,0,...,2023-01-13,Others,our party of 7 has a few dietary restrictions:...,2023-01-13 09:02:08,2023-01-13 09:14:00,0,23,Safari,iPhone,NaN
27308,27797,230127797,47,80,Half Day Khai Island by speedboat,Morning Tour,2,0,0,1,...,NaN,Vegetarian food,"As communicated with Don, we look forward to j...",2023-01-16 20:17:13,2023-01-16 20:21:51,0,0,Safari,iPhone,"DEWA Phuket Resort Nai Yang, Nai Yang Beach"
27323,27812,230127812,123,219,Ripley&#39;s Believe it or Not!,Combo 7 Package,1,0,0,0,...,NaN,Vegetarian food,No Eggs,2023-01-17 13:10:16,2023-01-17 13:13:09,2826,2826,Safari,iPhone,NaN

In [45]:
a = df_v1['order_product_id'].value_counts()

In [55]:
df_v1[df_v1['order_product_id']==20]

Empty DataFrame
Columns: [order_id, order_number, payment_charge_id, payment_success_id, order_product_id, order_package_id, order_product_name, order_package_name, order_quantity_adult, order_quantity_children, order_quantity_elder, order_quantity_infant, order_price_adult, order_price_children, order_price_elder, order_price_infant, order_price_discount_adult, order_price_discount_children, order_price_discount_elder, order_price_discount_infant, order_discount_id, order_discount_rate, order_discount_type, order_discount_coupon_code, order_discount_coupon_rate, order_discount_coupon_type, order_coupon_discount_price, order_price_total, order_gross_price, order_price_paid, order_price_paidleft, order_state, order_payment_method_id, order_payment_type, order_payment_charge_rate, order_payment_by, customer_id, customer_firstname, customer_lastname, customer_email, customer_phone_iso, customer_phone_code, customer_phone, customer_gender, customer_discount_rate, customer_discount_type, customer_country, customer_nationality, order_departure_date, order_date, order_custom_surcharge, order_surcharge, order_surcharge_id, order_surcharge_hotel_id, order_surcharge_zone_name, order_surcharge_hotel_name, order_surcharge_hotel_room, order_surcharge_pickup_time, order_surcharge_price, special_request, special_request_other, date_create, date_update, creator, updater, browser, platform, is_reminder, price_type, is_meeting_point, order_custom_hotel_desc]
Index: []

[0 rows x 71 columns]

In [62]:
for i in a.keys():
    print(str(i) + '\t' + str(a[i]))

90	2958
181	2764
55	1930
34	1380
51	1096
50	963
151	896
118	797
146	684
163	662
121	627
132	627
173	576
46	565
38	549
123	505
122	455
119	428
47	401
129	382
73	357
148	350
82	339
170	334
182	330
138	318
195	285
202	265
172	264
52	247
49	244
180	236
120	222
83	214
150	205
102	178
29	162
177	162
127	152
43	139
60	137
133	129
164	128
124	126
141	117
147	107
200	105
35	101
198	99
130	84
152	82
171	82
56	80
76	74
149	68
185	64
156	62
81	60
145	59
157	59
117	55
184	49
158	48
142	47
162	47
84	45
58	42
178	42
131	39
105	39
137	39
97	34
91	32
33	30
125	27
79	26
65	25
115	24
103	24
92	24
57	21
39	21
189	21
128	20
160	16
139	15
188	15
134	13
159	13
187	13
179	12
69	12
42	12
75	12
41	11
193	11
167	11
54	10
136	9
166	9
87	8
197	8
199	8
169	8
155	7
175	7
100	7
68	7
143	7
80	7
161	7
94	6
104	6
53	6
176	6
44	5
116	5
78	4
45	4
88	4
107	4
111	3
192	3
183	3
196	3
204	3
48	3
109	3
71	3
135	3
144	3
93	3
174	3
59	3
99	3
40	2
95	2
77	2
126	2
140	2
110	1
70	1
191	1
28	1
64	1
89	1
98	1
207	1

In [72]:
a[a.values > 99].to_csv('./test.csv')

In [67]:
i

207