In [1]:
import pandas as pd
import numpy as np

In [2]:
df_clean_userID = pd.read_csv('./csv/clean_userID.csv')
df_clean_userID

,customer_id,new_id,order_product_id,browser,platform,customer_firstname,customer_lastname,customer_email,customer_gender,Majority_code,...,cat_9,cat_10,cat_11,cat_12,cat_13,cat_14,cat_15,cat_16,cat_17,cat_18
0,0,10531,121,2,0,Julie,Staples,juliestaples40@gmail.com,2,77,...,0,0,0,0,0,0,0,0,0,0
1,0,12774,121,2,0,Alana,Locandro,alana.lannie@gmail.com,1,13,...,0,0,0,0,0,0,0,0,0,0
2,0,12285,121,7,6,Harriet,Peace,Harrietpeace@icloud.com,1,77,...,0,0,0,0,0,0,0,0,0,0
3,221,221,121,8,0,Kain,Ingham,Kaino_01@hotmail.com,0,13,...,0,0,0,0,0,0,0,0,0,0
4,0,12286,121,2,4,Sandra,Nicholl,sandinicholl@hotmail.co.uk,2,77,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5512,0,11192,202,2,4,Ali,Mohammad,fourtwenty.aggregation@gmail.com,0,38,...,0,0,0,0,0,1,0,0,0,0
5513,0,11193,202,2,4,Kirill,Kiryushin,kirill.kiryushin.o@gmail.com,0,218,...,0,0,0,0,0,1,0,0,0,0
5514,0,11194,202,2,4,Paitoon,Uthaisang,puthaisang@gmail.com,0,218,...,0,0,0,0,0,1,0,0,0,0
5515,0,11195,202,2,0,Alex,Schetinin,shatz.g@gmail.com,0,103,...,0,0,0,0,0,1,0,0,0,0
5516,0,13339,202,7,6,Reneta,Gesheva,rgesheva8@gmail.com,2,233,...,0,0,0,0,0,1,0,0,0,0

In [3]:
df_clean_userID['new_id'].value_counts()

2704     9
2705     7
10000    6
10001    5
888      5
        ..
2428     1
13607    1
13608    1
13609    1
13339    1
Name: new_id, Length: 4992, dtype: int64

In [4]:
df_clean_userID.columns

Index(['customer_id', 'new_id', 'order_product_id', 'browser', 'platform',
       'customer_firstname', 'customer_lastname', 'customer_email',
       'customer_gender', 'Majority_code', 'order_price_paid',
       'order_payment_by', 'booked_days', 'departure_year', 'departure_month',
       'departure_day', 'departure_DayofYear', 'departure_DayofWeek',
       'sum_kids', 'sum_adults', 'private', 'group', 'family', 'cat_1',
       'cat_2', 'cat_3', 'cat_4', 'cat_5', 'cat_6', 'cat_7', 'cat_8', 'cat_9',
       'cat_10', 'cat_11', 'cat_12', 'cat_13', 'cat_14', 'cat_15', 'cat_16',
       'cat_17', 'cat_18'],
      dtype='object')

In [5]:
def softmax(x, axis = 1):
    return np.exp(x)/np.sum(np.exp(x),axis=axis, keepdims=True)

In [8]:
use_cols = [
    'new_id',
    'booked_days', 'order_price_paid', 'sum_kids', 'sum_adults', # mean
    'private', 'group', 'family', 
    'cat_1', 'cat_2', 'cat_3', 'cat_4', 'cat_5', 'cat_6', 'cat_7', 'cat_8', 'cat_9',
    'cat_10', 'cat_11', 'cat_12', 'cat_13', 'cat_14', 'cat_15', 'cat_16','cat_17', 'cat_18'
    ]
cat_cols = ['cat_1', 'cat_2', 'cat_3', 'cat_4', 'cat_5', 'cat_6', 'cat_7', 'cat_8', 'cat_9',
    'cat_10', 'cat_11', 'cat_12', 'cat_13', 'cat_14', 'cat_15', 'cat_16','cat_17', 'cat_18']

In [9]:
df_userID = df_clean_userID[use_cols]
df_userID[cat_cols] = softmax(df_userID[cat_cols].applymap(lambda x: 0.5 if x == 0 else x).to_numpy())
df_userID[['private', 'group', 'family']] = softmax(df_userID[['private', 'group', 'family']].to_numpy())
df_userID

/var/folders/5g/90_bh_2146gffg2__wzbyb780000gn/T/ipykernel_47676/1114571716.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_userID[cat_cols] = softmax(df_userID[cat_cols].applymap(lambda x: 0.5 if x == 0 else x).to_numpy())
/var/folders/5g/90_bh_2146gffg2__wzbyb780000gn/T/ipykernel_47676/1114571716.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_userID[['private', 'group', 'family']] = softmax(df_userID[['private', 'group', 'family']].to_numpy())

,new_id,booked_days,order_price_paid,sum_kids,sum_adults,private,group,family,cat_1,cat_2,...,cat_9,cat_10,cat_11,cat_12,cat_13,cat_14,cat_15,cat_16,cat_17,cat_18
0,10531,60,4500,0,2,0.576117,0.211942,0.211942,0.053623,0.053623,...,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623
1,12774,53,4500,0,2,0.576117,0.211942,0.211942,0.053623,0.053623,...,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623
2,12285,75,4500,0,2,0.576117,0.211942,0.211942,0.053623,0.053623,...,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623
3,221,1,4500,0,2,0.576117,0.211942,0.211942,0.053623,0.053623,...,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623
4,12286,7,15750,0,7,0.211942,0.576117,0.211942,0.053623,0.053623,...,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5512,11192,0,3580,0,2,0.576117,0.211942,0.211942,0.053623,0.053623,...,0.053623,0.053623,0.053623,0.053623,0.053623,0.088409,0.053623,0.053623,0.053623,0.053623
5513,11193,1,3980,0,2,0.576117,0.211942,0.211942,0.053623,0.053623,...,0.053623,0.053623,0.053623,0.053623,0.053623,0.088409,0.053623,0.053623,0.053623,0.053623
5514,11194,117,7020,0,3,0.211942,0.576117,0.211942,0.053623,0.053623,...,0.053623,0.053623,0.053623,0.053623,0.053623,0.088409,0.053623,0.053623,0.053623,0.053623
5515,11195,0,3980,1,2,0.211942,0.211942,0.576117,0.053623,0.053623,...,0.053623,0.053623,0.053623,0.053623,0.053623,0.088409,0.053623,0.053623,0.053623,0.053623
5516,13339,3,4280,0,2,0.576117,0.211942,0.211942,0.053623,0.053623,...,0.053623,0.053623,0.053623,0.053623,0.053623,0.088409,0.053623,0.053623,0.053623,0.053623

In [13]:
df_user_matrix = df_userID.groupby('new_id').mean()
df_user_matrix.reset_index(inplace=True)
df_user_matrix

,new_id,booked_days,order_price_paid,sum_kids,sum_adults,private,group,family,cat_1,cat_2,...,cat_9,cat_10,cat_11,cat_12,cat_13,cat_14,cat_15,cat_16,cat_17,cat_18
0,8,0.4,1391.8,0.0,1.4,0.576117,0.211942,0.211942,0.052565,0.052565,...,0.065793,0.052565,0.059288,0.052565,0.059522,0.052565,0.052565,0.052565,0.066479,0.052565
1,24,0.0,320.0,0.0,1.0,0.576117,0.211942,0.211942,0.053623,0.053623,...,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.088409,0.053623
2,130,0.0,2250.0,0.0,1.0,0.576117,0.211942,0.211942,0.053623,0.053623,...,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623
3,191,0.0,4080.0,1.0,2.0,0.211942,0.211942,0.576117,0.053623,0.053623,...,0.053623,0.053623,0.053623,0.053623,0.053623,0.088409,0.053623,0.053623,0.053623,0.053623
4,194,0.0,375.0,0.0,1.0,0.576117,0.211942,0.211942,0.053623,0.053623,...,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.088409
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4987,13734,0.0,1080.0,0.0,6.0,0.211942,0.576117,0.211942,0.053623,0.053623,...,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.088409,0.053623
4988,13735,0.0,860.0,1.0,4.0,0.211942,0.211942,0.576117,0.053623,0.053623,...,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.088409,0.053623
4989,13736,11.0,710.0,2.0,2.0,0.211942,0.211942,0.576117,0.053623,0.053623,...,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.088409,0.053623
4990,13737,0.0,360.0,0.0,2.0,0.576117,0.211942,0.211942,0.053623,0.053623,...,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.053623,0.088409,0.053623
4991,13738,0.0,6900.0,0.0,3.0,0.211942,0.576117,0.211942,0.053623,0.053623,...,0.053623,0.053623,0.053623,0.053623,0.053623,0.088409,0.053623,0.053623,0.053623,0.053623

In [15]:
import sweetviz as sv
report = sv.analyze(df_user_matrix)
report.show_html('./report/user_matrix.html')
df_user_matrix.to_csv('./csv/user_matrix.csv', index=False)

/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/dataframe_report.py:74: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  all_source_names = [cur_name for cur_name, cur_series in source_df.iteritems()]
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/dataframe_report.py:109: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  filtered_series_names_in_source = [cur_name for cur_name, cur_series in source_df.iteritems()

                                             |          | [  0%]   00:00 -> (? left)

/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
/Users/rootbeam/opt/miniconda3/envs/gpu/lib/python3.10/site-packages/sweetviz/series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()

Report ./report/user_matrix.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.